input.input-validation-error,
select.input-validation-error
{
    background: pink;
    border: 1px solid red;
}


form div>ul>li {
    color: red;
}

/* The heart of the matter */
.testimonial-group > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group > .row > .col-3 {
    display: inline-block;
}

.col-3 {
    max-width: 27% !important;
}

/*Scroll bar*/

/* Works on Firefox */
*{
    scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    background-color: white;
    width: 10px;
    height: 10px;
}


    *::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
        border: 0px solid orange;
    }

.modul .card {
    cursor: pointer;
    height: 140px;
}

/*
.card.active {
    background-color:steelblue;
}*/
/*
.btn-primary {
    background: linear-gradient( 0deg,#0098f0,#00f2c3);
}

.button:hover {
    background: #00f2c3;
}

.checkbox {
    background: linear-gradient( 0deg,#0098f0,#00f2c3);
}*/