<div class="testimonial-group">
    <div class="row moduls">
        <div class="col-3">
            <div class="card active">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h4 class="card-title">Modul 1</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text"></p>
                        </div>
                        <div class="col-5">
                            <i class="fa fa-cogs fa-5x" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h4 class="card-title">Modul 2</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text"></p>
                        </div>
                        <div class="col-5">
                            <i class="fa fa-car fa-5x" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h4 class="card-title">Modul 3</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text"></p>
                        </div>
                        <div class="col-5">
                            <i class="fa fa-train fa-5x" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h4 class="card-title">Modul 4</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text"></p>
                        </div>
                        <div class="col-5">
                            <i class="fa fa-users fa-5x" style="color: white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>